body section.titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 66vw;
  max-width: 66vw;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background-color: #5c0000;

  div {
    display: flex;
    align-items: center;

    span {
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      color: #ffffff;
    }

    img {
      width: 20px;
      padding: 5px;
    }

  }
}