.app {
  position: fixed;
  top: 32px;
  left: 0px;
}

.main {
  background-color: aquamarine;
  opacity: 0.8;
  
}

.songheader {
  margin-left: 5px;
}

a {
  color: rgb(19, 19, 19);
  text-decoration: none;
}
